body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

#credentials {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin: 40px auto;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="text"], input[type="password"]:hover{
    border: 1px solid #ae2121;
    border-color: #23527c;
}
input[type="text"], input[type="password"] {
    width: 100%;
    padding: 5px;
    margin-bottom: 2px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="text"]:focus, input[type="password"]:focus {
    border-color: #aaa;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#button {
    text-align: center;
    margin-top: 20px;
}

button[type="submit"], button[type="reset"] {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
}

button[type="reset"] {
    background-color: #ccc;
    color: #333;
}

button[type="submit"]:hover {
    background-color: #3e8e41;
}

button[type="reset"]:hover {
    background-color: #bbb;
}

#link {
    text-align: center;
    margin-top: 20px;
}

#link a {
    text-decoration: none;
    color: #337ab7;
}

#link a:hover {
    color: #23527c;
}